body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

h1 {
    color: white;
}

.table-container {
    margin: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 2px solid white;;
}

td.empty {
    background-color: white;
}

td.wall {
    background-color: #616161; 
}

td.start {
    background-color: rgb(0, 109, 5); 
}

td.trap {
    background-color: rgb(190, 156, 0);
}

td.end {
    background-color: rgb(139, 0, 0); 
}

td.ficha {
    background-color: red; 
    border-radius: 50%;
}

.buttons-container {
    margin-top: 20px;
}

button {
    padding: 20px 40px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    border: 4px solid white;
}

#startButton {
    background-color: black; 
    color: white;
}

#resetButton {
    background-color: black; 
    color: white;
}

button:hover {
    opacity: 0.8;
    color: #000;
}

.text-container {
    position: fixed;
    border: 2px solid white;
    color: white;
    top: 0;
    right: 0;
    width: 400px;
    padding: 20px;
    background-color: black;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100vh; 
}